<nav class="navbar navbar-expand-md" style="background-color: rgb(41, 53, 160);">
  <a class="navbar-brand abs" href="/" style="color: white;">Kanji Helper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="collapsingNavbar">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" id="navUsername" href="" style="color:white;"><% if (guestUsername == null) { %>
          <%= username %>
        <% } else { %>
         <%= guestUsername %> as a guest
          <% } %>
          </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <form method="POST" action="/logout" style="height:27px">
        <a class="nav-link" href="">
           <input type="hidden" id="csurf" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="btn btn-primary" id="logout"><i class="fas fa-sign-out-alt" style="color: white;"
              id="logout"></i></button>
        </a>
      </form>
      </li>
    </ul>
  </div>
</nav>