<head>
    <%- include('../includes/head.ejs'); %>
    <link rel="stylesheet" href="../style/game.css">
</head>

<body>

    <%- include('../includes/navigation.ejs'); %>

    <div class="container" style="margin-top:50px;">

        <!-- Top Buttons Row -->
        
        <div class="row">
            <div class="col" id="canvasContainer">
                    <button type="button" class="btn btn-primary" id="undo"><i class="fas fa-undo"></i> Undo</button>
                    <button type="button" class="btn btn-primary" id="clear"><i class="fas fa-sync-alt"></i> Clear</button>
                <canvas id="canvas" class="hidden" style="margin-top:5px"></canvas>
            </div>
            <div class="col-4" style="position: relative">
                <div class="row">
                    
                    <div class="col" id="messagesContainer" > 

                    </div>
                </div>
         
                <div class="row" style="position: absolute; bottom: 0;">
                    <div class="col" >
                        
                        <form id="messageForm" class="hidden" >
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" autocomplete="off" placeholder="say hi!" id="messageInput">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row hidden" id="canvasButtonsRow">
            <div class="col" style="margin-top:4px;">
               
              
                <!-- Thickness -->
                <div class="thickness small" data-thickness="1"><i class="fas fa-pencil-alt fa-2x"></i></div>
                <div class="thickness medium" data-thickness="3"><i class="fas fa-pencil-alt fa-3x"></i></div>
                <div class="thickness big" data-thickness="6"><i class="fas fa-pencil-alt fa-4x"></i></div>

                  <!-- Colors -->
                  <div id="colors"></div>
            </div>
        </div>
    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--download normal bootstrap-->

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/drawing.js"></script>
    <script src="/js/chat.js"></script>




</body>