<head>
    <%- include('../includes/head.ejs'); %>
    <link rel="stylesheet" href="../style/home.css">

</head>

<body>
    <%- include('../includes/navigation.ejs'); %>
    <div class="container" style="width:520px;  margin-top: 5%;">
        <div class="row">
            <img src="./img/home_image.png">
        </div>
    </div>
    <div class="container" style="width:400px;">

        <div class="col-sm-12">
            <div class="row" style="margin-bottom: 10px;">
                <div class="cen" style="text-align:center; height:55px; width: 100%;">
                    <button type="button" class="btn btn-primary lobby_buttons" id="quickJoin"><i class="fas fa-pencil-alt"></i><span
                            style="margin-left: 5px; "></span>Quick Join</span></button>
                    <button type="button" class="btn btn-primary lobby_buttons" data-toggle="modal" data-target="#lobbyModal"><i
                            class="fas fa-plus"></i><span style="margin-left: 5px;">Create Room</span></button>
                </div>
            </div>

            <div class="row">
                <div id="lobby_room_header">
                    <div class="inner_lobby_header">
                        <i class="fas fa-sign-in-alt"></i><span style="margin: 8px;">Open Rooms</span>

                        <i class="fas fa-sync-alt" style="float: right;cursor: pointer; margin-right:10px;" onclick="location.href = '/';"></i>
                    </div>
                </div>

                <button type="button" class="btn btn-primary btn-lg btn-block lobby_button" onclick="location.href = '/room/gameOne';"
                    style="margin: 0;">
                    <span style="float:left; float: left;
                            clear: left; letter-spacing:1.5px">Default
                        Room One</span>
                    <span style="float: left;
                            clear: left; font-size: 13px; letter-spacing:0.8px;">Kanji
                        Grade 1</span>
                </button>

                <button type="button" class="btn btn-primary btn-lg btn-block lobby_button" onclick="location.href = '/room/gameTwo';"
                    style="margin: 0">
                    <span style="float:left; float: left;
                                clear: left; letter-spacing:1.5px">Default
                        Room Two</span>
                    <span style="float: left;
                                clear: left; font-size: 12px; letter-spacing:0.8px;">Kanji
                        Grade 2</span>

                </button>

                <button type="button" class="btn btn-primary btn-lg btn-block lobby_button" onclick="location.href = '/room/gameThree';"
                    style="margin: 0">
                    <span style="float:left; float: left;
                                    clear: left; letter-spacing:1.5px">Default
                        Room Three</span>
                    <span style="float: left;
                                    clear: left; font-size: 12px; letter-spacing:0.8px;">Kanji
                        Grade 3</span>
                </button>

            </div>

            <div class="row" style="margin-top:30px;">
                <div id="lobby_room_header">
                    <div class="inner_lobby_header">
                        <i class="fas fa-sign-in-alt"></i><span style="margin: 8px;">User Made</span>
                        <i class="fas fa-sync-alt" style="float: right;cursor: pointer; margin-right:10px;" id="aa"
                            onclick="location.href = '/';"></i>
                    </div>
                </div>
                <div id="lobbyplaceholder" style="width:100%;">

                </div>
            </div>

        </div>

    </div>

    <!-- Modal for game-->
    <div class="modal fade" id="lobbyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="color:black"><i class="fas fa-plus" style="margin-right: 10px; color:black"></i>Create
                        Room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="card-body">


                        <form action="" id="roomForm">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-signature"></i></span>
                                </div>
                                <input type="text" class="form-control" id="lobbyName" placeholder="name">

                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-graduation-cap"></i></span>
                                </div>
                                <input type="text" class="form-control" id="lobbyGrade" placeholder="grade">
                            </div>

                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" id="lobbyCreationBtn" class="btn btn-primary btn-block" style="background-color: rgb(47, 160, 108); border-color: rgb(47, 160, 108)">Create
                                Room</button>

                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>

    <% if (!isLoggedIn) { %>
    <div id="guestDiv" style="position: absolute; top:0; right:0; left:0; bottom:0; background-color:rgba(0,0,0,.8)">
        <div style=" height:25%; margin-top:20%; background-color:rgb(47, 160, 108)">
            <div class="container" style="width: 50%">
                <div style="width:100%; height:30%; text-align:center; padding-top:30px;">
                    <span></span>
                    <span>Welcome to</span>
                    <span>Kanji Helper!</span>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <form action="/guest" method="POST" id="guestSigninForm">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="text" class="form-control" id="guestUsername" name="guestUsername" placeholder="Enter a nickname"
                                style="margin-bottom: 5px;">
                            <button type="submit" id="guestSigninBtn" class="btn btn-primary btn-block" style="background-color:  rgb(41, 53, 160); border-color: rgb(41, 53, 160)">Sign-in</button>
                        </form>
                        <button type="submit" id="signUpBtn" onclick="window.location.href='/signup'" class="btn btn-primary btn-block"
                            style="background-color:  rgb(41, 53, 160); border-color: rgb(41, 53, 160)">or Sign-up!</button>
                    </div>
                    <div class="col-sm-6">
                        <p>Kanji Helper! is a tool for helping others learning Japanese Kanji. Do your best to
                            draw kanji and others can help and give advice by drawing with you and typing in the chat</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/lobby.js"></script>
<%- include('../includes/end.ejs'); %>



</button>