<head>
	<%- include('../includes/head.ejs'); %>
	<link rel="stylesheet" href="/style/login.css">
	<title>Login Page</title>
</head>

<div class="container">
		
	<div class="d-flex justify-content-center h-100" >
		<div class="card" >
			<div class="card-header">
				<h3>Sign In</h3>
				
			</div>
			<div class="card-body">
				<form class="login-form" action="/login" method="POST">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user" style="color: rgb(47, 160, 108)"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="username" name="username">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key" style="color: rgb(47, 160, 108)"></i></span>
						</div>
						<input type="password" class="form-control" name="password" id="password" placeholder="password">
					</div>
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
				
				<% if (errorMessage) { %>
					<span style="color:white;"><%= errorMessage %></span>
				<% } %>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="/signup">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/jquery/jquery.min.js"></script>
<script src="js/login.js"></script>