<head>
    <%- include('../includes/head.ejs'); %>
    <link rel="stylesheet" href="/style/login.css">
    <title>signup Page</title>
</head>

<div class="container">
<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign Up</h3>
				
			</div>
			<div class="card-body">
				<form method="POST">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" name="email" id="email" placeholder="email">

                    </div>
                    <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="username" id="username" placeholder="username">
    
                        </div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" name="password" id="password" placeholder="password">
                    </div>
                   <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 
					
					<div class="form-group">
						<input type="submit" value="Sign Up" class="btn float-right login_btn">
					</div>
				</form>
				<input type="submit" value="Guest SignUp" onclick="window.location.href = '/'" class="btn guest_btn">
				<% if (errorMessage) { %>
					<span style="color:white;"><%= errorMessage %></span>
				<% } %>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Already have an account?<a href="/login">Sign In</a>
				</div>
			</div>
		</div>
    </div>
</div>