nav {
  font-family: 'Staatliches', cursive;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 1;
  color: white;
}

canvas {
  display: block;
  border: 3px solid green;
  width: 100%;
  height: 70%;
  max-width: 100%;
  max-height: 100%;
}

button#undo,
button#clear {
  display: inline-block;
}

#colors {
  margin: 0;
  padding: 2px;
}

#colors * {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: inline-block;
  border: none;
  margin: 0 1px;
}

#colors *:hover {
  opacity: 0.6;
}

.thickness {
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.thickness:hover {
  opacity: 0.6;
}