body {
    background: white;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1;
    color: white;

}

.page-wrap {
    min-height: 100vh;
}

#lobby_room_header {
    width: 100%;
    height: 40px;
    background-color: rgb(47, 160, 108);
}

.lobby_button {
    margin: 0;
    border-radius: 0 !important;
    border-color: rgb(41, 53, 160);
    background-color: rgb(41, 53, 160)
}

.lobby_buttons {
    height: 100%;
    width: 48%;
    letter-spacing: 1.5px;
    font-size: 20px;
    background-color: rgb(47, 160, 108);
    border-color: rgb(47, 160, 108);
}

.inner_lobby_header {
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

#guestSigninBtn{
    background-color:rgb(114, 160, 234);
    border-color: rgb(114, 160, 234);
}