@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
    background-image: url('https://cdn-staging.wanikani.com/assets/session/sign-in-887add103c6d1e899f041af4b45dec0f35babeb375a20b699dc370c734f9efe1.png');
    background-position-x: 50%;
    background-position-y: 5%;
    width: 100%;
    background-repeat: no-repeat;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgb(47, 160, 108) !important;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: white;
    color: rgb(47, 160, 108) !important;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: rgb(47, 160, 108);
    background-color: white;
    width: 100px;
}

.guest_btn {
    color: rgb(47, 160, 108);
    background-color: white;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}