.navbar-xs {
    min-height: 41px;
    height: 41px;
}

.navbar-xs .navbar-brand {
    padding: 0px 12px;
    font-size: 16px;
    line-height: 28px;
}

.navbar-xs .navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 28px;
} 